/**
 * Priest Abilities
 */

.icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;

  // Berserking
  &.spell-26297, &.spell-berserking {
    background-image: url('/feral/assets/berserking.jpg');
  }

  &.spell-49803, &.spell-pounce {
    background-image: url('/feral/assets/pounce.jpg');
  }

  &.spell-49802, &.spell-maim {
    background-image: url('/feral/assets/maim.jpg');
  }

  &.spell-48579, &.spell-ravage {
    background-image: url('/feral/assets/ravage.jpg');
  }

  /**
   * Engineering
   */

  // Adamantite Grenade
  &.spell-30217, &.spell-boom {
    background-image: url('/feral/assets/boom.jpg');
  }

  // Dense Dynamite
  &.spell-23063 {
    background-image: url('/feral/assets/boom.jpg');
  }

  &.spell-30216 {
    background-image: url('/feral/assets/boom.jpg');
  }

  // Goblin land mine
  &.spell-4100 {
    background-image: url('/feral/assets/mine.jpg');
  }

  // Goblin Sapper
  &.spell-13241 {
    background-image: url('/feral/assets/boom.jpg');
  }

  // Super Sapper Charge
  &.spell-30486 {
    background-image: url('/feral/assets/boom.jpg');
  }

  /**
   * Buffs
   */

  &.spell-32182, &.spell-heroism {
    background-image: url('/feral/assets/heroism.jpg');
  }

  &.spell-2825, &.spell-bloodlust {
    background-image: url('/feral/assets/bloodlust.jpg');
  }

  &.spell-28507, &.spell-haste-potion {
    background-image: url('/feral/assets/haste.jpg');
  }

  &.spell-35476, &.spell-351355, &.spell-drums-of-battle {
    background-image: url('/feral/assets/drums.jpg');
  }

  &.spell-40396, &.spell-skull-of-guldan {
    background-image: url('/feral/assets/skull-of-guldan.jpg');
  }

  &.spell-18803, &.spell-focus {
    background-image: url('/feral/assets/focus.jpg');
  }

  &.spell-45856, &.spell-breathe-haste {
    background-image: url('/feral/assets/haste-breath.jpg');
  }

  &.spell-24907, &.spell-moonkin-aura {
    background-image: url('/feral/assets/moonkin.jpg');
  }

  &.spell-54043, &.spell-ret-aura {
    background-image: url('/feral/assets/ret-aura.jpg');
  }

  &.spell-10060, &.spell-pi {
    background-image: url('/feral/assets/pi.jpg');
  }

  &.spell-33370, &.spell-quags {
    background-image: url('/feral/assets/quags.jpg');
  }

  &.spell-3738, &.spell-wrath-of-air {
    background-image: url('/feral/assets/wrath-of-air.jpg');
  }

  &.spell-28508, &.spell-destruction {
    background-image: url('/feral/assets/destruction.jpg');
  }

  &.spell-45044, &.spell-sns {
    background-image: url('/feral/assets/sliver.jpg');
  }

  &.spell-43712, &.spell-hsh {
    background-image: url('/feral/assets/hsh.jpg');
  }

  &.spell-51953, &.spell-dark-iron-pipe {
    background-image: url('/feral/assets/pipe.jpg');
  }

  &.spell-35163, &.spell-icon-crescent {
    background-image: url('/feral/assets/crescent.jpg');
  }

  &.spell-55637, &.spell-lightweave {
    background-image: url('/feral/assets/lightweave.jpg');
  }

  &.spell-61792, &.spell-shadowy-insight {
    background-image: url('/feral/assets/shadowy-insight.jpg');
  }

  &.spell-54758, &.spell-hyperspeed {
    background-image: url('/feral/assets/hyperspeed.jpg');
  }

  &.spell-16870, &.spell-clearcasting {
    background-image: url('/feral/assets/spell_shadow_manaburn.jpg');
  }

  &.spell-65019, &.spell-mjolnir-runestone {
    background-image: url('/feral/assets/mjolnir_runestone.jpg');
  }

  &.spell-60437, &.spell-grimtoll {
    background-image: url('/feral/assets/grimtoll.jpg');
  }

  &.spell-69369, &.spell-predatory-strikes {
    background-image: url('/feral/assets/predatory_strikes.jpg');
  }

  &.spell-48480, &.spell-maul {
    background-image: url('/feral/assets/maul.jpg');
  }

  &.spell-53312, &.spell-natures_grasp {
    background-image: url('/feral/assets/natures_grasp.jpg');
  }

  &.spell-16857, &.spell-fff, &.spell-770 {
    background-image: url('/feral/assets/faerie_fire.jpg');
  }

  &.spell-62078, &.spell-swipe, &.spell-48562 {
    background-image: url('/feral/assets/swipe.jpg');
  }

  &.spell-1, &.spell-melee {
    background-image: url('/feral/assets/melee.jpg');
  }

  &.spell-49800, &.spell-rip {
    background-image: url('/feral/assets/rip.jpg');
  }

  &.spell-48572, &.spell-shred {
    background-image: url('/feral/assets/shred.jpg');
  }

  &.spell-48574, &.spell-rake {
    background-image: url('/feral/assets/rake.jpg');
  }

  &.spell-48566, &.spell-mangle, &.spell-48564 {
    background-image: url('/feral/assets/cat_mangle.jpg');
  }

  &.spell-768, &.spell-cat_form {
    background-image: url('/feral/assets/cat_form.jpg');
  }

  &.spell-9634, &.spell-bear_form {
    background-image: url('/feral/assets/bear_form.jpg');
  }

  &.spell-52610, &.spell-savage-roar {
    background-image: url('/feral/assets/savageroar.jpg');
  }

  &.spell-48568, &.spell-lacerate {
    background-image: url('/feral/assets/lacerate.jpg');
  }

  &.spell-48470, &.spell-gift-of-the-wild {
    background-image: url('/feral/assets/giftofthewild.jpg');
  }

  &.spell-50213, &.spell-tigers-fury {
    background-image: url('/feral/assets/tigersfury.jpg');
  }

  &.spell-48577, &.spell-ferocious-bite {
    background-image: url('/feral/assets/ferociousbite.jpg');
  }

  &.spell-14751, &.spell-inner-focus {
    background-image: url('/feral/assets/innerfocus.jpg');
  }

  &.spell-5229, &.spell-enrage {
    background-image: url('/feral/assets/enrage.jpg');
  }

  &.spell-50334, &.spell-druid-berserk {
    background-image: url('/feral/assets/druid_berserk.jpg');
  }

  &.spell-29166, &.spell-innervate {
    background-image: url('/feral/assets/innervate.jpg');
  }

  &.spell-48477, &.spell-rebirth {
    background-image: url('/feral/assets/rebirth.jpg');
  }

  &.spell-60480, &.spell-war-prisoner {
    background-image: url('/feral/assets/motwp.jpg');
  }

  &.spell-60064, &.spell-sundial {
    background-image: url('/feral/assets/sundial.jpg');
  }

  &.spell-56184, &.spell-twilight-serpent {
    background-image: url('/feral/assets/serpent.jpg');
  }

  &.spell-60479, &.spell-forge-ember {
    background-image: url('/feral/assets/fire.jpg');
  }

  &.spell-60471, &.spell-tome-arcane-phenomena {
    background-image: url('/feral/assets/tome.jpg');
  }

  &.spell-59657, &.spell-argent-valor {
    background-image: url('/feral/assets/argent-valor.jpg');
  }

  &.spell-60494, &.spell-dying-curse {
    background-image: url('/feral/assets/dying-curse.jpg');
  }

  &.spell-60492, &.spell-embrace-spider {
    background-image: url('/feral/assets/embrace-spider.jpg');
  }

  &.spell-53908, &.spell-speed-potion {
    background-image: url('/feral/assets/speed-potion.jpg');
  }

  &.spell-53909, &.spell-wild-magic {
    background-image: url('/feral/assets/wild-magic.jpg');
  }

  &.spell-59626, &.spell-black-magic {
    background-image: url('/feral/assets/black-magic.jpg');
  }

  &.spell-64320, &.spell-rune-of-power {
    background-image: url('/feral/assets/powerrune.jpg');
  }

  &.spell-62836, &.spell-slag-imbued {
    background-image: url('/feral/assets/slagimbued.jpg');
  }

  &.spell-64907, &.spell-devious-mind {
    background-image: url('/feral/assets/deviousmind.jpg');
  }

  &.spell-63277, &.spell-shadow-crash {
    background-image: url('/feral/assets/shadowcrash.jpg');
  }

  &.spell-62807, &.spell-starlight {
    background-image: url('/feral/assets/starlight.jpg');
  }

  &.spell-64713, &.spell-flame-heavens {
    background-image: url('/feral/assets/sundial.jpg');
  }

  &.spell-64707, &.spell-scale-fates {
    background-image: url('/feral/assets/scalefates.jpg');
  }

  &.spell-398475, &.spell-living-flame {
    background-image: url('/feral/assets/livingflame.jpg');
  }

  &.spell-64741, &.spell-pandoras-plea {
    background-image: url('/feral/assets/sundial.jpg');
  }

  /**
   * Misc
   */

  // Netherweave net
  &.spell-31367, &.spell-net {
    background-image: url('/feral/assets/net.jpg');
  }

  // Plant Thornling
  &.spell-22792, &.spell-thornling {
    background-image: url('/feral/assets/thornling.jpg');
  }
}



